*.hex
build
*~

temporal.png
temporal_data
config.h
ThermistorTable.h
Makefile
sim
doc
datalog.out
Theta-Psi-Distance.svg
Theta-Psi-Distance.pdf
Theta-Psi-Distance.png
*.bak
config.robert-ramps.h
config.robert-gen7.h
