Markus Hitter <mah@jump-ing.de>

Michael Moon <triffid.hunter@gmail.com> triffid <triffid.hunter@gmail.com>

Nico Tonnhofer <wurstnase.reprap@gmail.com> wurstnase <wurstnase.reprap@gmail.com>
Nico Tonnhofer <wurstnase.reprap@gmail.com> Wurstnase <wurstnase.reprap@gmail.com>

Phil Hord <phord@purestorage.com> Phil Hord <phil.hord@technicolor.com>
Phil Hord <phord@purestorage.com> Phil Hord <hordp@cisco.com>

Jeff Bernardis <jeff.bernardis@gmail.com> jbernardis <jeff.bernardis@gmail.com>

Markus Amsler <markus.amsler@oribi.org> Markus Amsler <markus.amsler@gmail.com>

David Forrest <drf@vims.edu>

Jim McGee <madscifi@jetblackcat.com>

Ben Jackson <ben@ben.com>

Robert Konklewski <nythil@gmail.com>

Bas Laarhoven <sjml@xs4all.nl>

Stephan Walter <stephan@walter.name>

Ruslan Popov <ruslan.popov@gmail.com>

Jens Ch. Restemeier <jens.restemeier@gmail.com>

Roland Brochard <zuzuf86@gmail.com>
